atom.symlink/*
!atom.symlink/atom.coffee
!atom.symlink/config.cson
!atom.symlink/init.coffee

git/gitconfig.local.symlink

vscode/*
!vscode/snippets
!vscode/keybindings.json
!vscode/settings.json

Brewfile.lock.json