"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "07153a4d-b08f-ebfd-6735-4e5c688ceff6"
  "go-plus":
    currentPanelHeight: "17.532467532467532vh"
    lint: {}
    test:
      coverageHighlightMode: "disabled"
  "gometalinter-linter": {}
  "linter-docker": {}
  "tester-go":
    coverageHighlightMode: "disabled"
  "tree-view": {}
  welcome:
    showOnStartup: false
